body{
    background-color: #212529;
    color: white;
}
div{
    border: none;
    margin: 0;
}

.pfp{
    margin-bottom: 1em;
}

.abts{
    text-align: center;
}
.connections{
    margin-left: 1em;
}
.left{
    text-align: left;
}

.head{
    margin-bottom: 5em;
}

.foot{
    margin-top: 5em;
    text-align: center;
    border-top: 1px solid white;
}

.abt{
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 1rem;
}


.edu{
    color: black;
    padding: 2em 0.75em 1em 1em;
    border: 3px solid black;
    border-radius: 5px;
    margin: 1em;
}